#root{
    height: 100%;
}
html{
    font-size: 26.7vw;
}
img{
    box-sizing: border-box;
    vertical-align: middle;
}
@font-face {
    font-family: "yofont";
    src: url('/assets/icons/iconfont.woff') format('woff'),
      url('/assets/icons/iconfont.ttf') format('truetype');
  }