.detail-banner{
    width: 100%;
    height: 2.8rem;
    background: #ccf;
    position: relative;
    img{
        width: 100%;
    }
    span{
        position: absolute;
        left: .1rem;
        top: .1rem;
        color: #fff;
        font-size: 22px;
    }
}
.detail-tag{
    width: 3.4rem;
    position: relative;
    margin: .15rem .2rem;
    img{
        width: 100%;
    }
    div{
        position: absolute;
        right: .1rem;
        top: 0;
        color: #fff;
        line-height: .35rem;
    }
}
.detail-title{
    font-size: 22px;
    font-weight: 500;
    color: #444;
    margin: .2rem;
}
.detail-price{
    font-size: 22px;
    margin:-.1rem .2rem;
}
.detail-pay{
    width: 3.4rem;
    height: .3rem;
    margin: .15rem .2rem;
    color: #999;
    display: flex;
    justify-content: space-between;
    .left{
        flex:1;
    }
    .right{
        width: .8rem;
    }
}
.detail-activity{
    width: 3.4rem;
    margin: .2rem;
    font-size: 13px;
    li{
        color: rgba(0,0,0,.6);
        margin-bottom: .05rem;
        span{
            color: rgba(0,0,0,.85);
            padding-right:.02rem ;
        }
    }
    
}
.detail-qua{
    width: 3.4rem;
    height: .3rem;
    margin: .2rem;
    font-size: .13rem;
    display: flex;
    justify-content: space-between;
    div{
        width: 1.5rem;
        height: 100%;
        background:rgba(134,186,123,.1);
        color: #86ba7b;
        display: inline-block;
        line-height: .1rem;
        padding: .1rem;
        position: relative;
        a{
            color: #86ba7b;
            position: absolute;
            right: .1rem;
            top:.1rem;
            font-size: .13rem;
        }
        em{
            position: absolute;
            right: .1rem;
            top:.1rem; 
        }
    }
}
.detail-tags{
    margin: .2rem;
    width: 3.4rem;
    img{
        height: .25rem;
    }
    span{
        height: .25rem;
        background-color: rgba(0,0,0,.03);
        color: rgba(0,0,0,.6);
        font-size: .13rem;
        padding:.058rem .1rem;
        margin-left: .05rem;
    }
}
.detail-size{
    height: .4rem;
    width: 3.4rem;
    margin:.3rem .2rem 0;
    color: #444;
    display: flex;
    @include border(0 0 2px 0,#eee);
    span{
        flex: 1;
        text-align: center;
        height: 14px;
        @include border(0 1px 0 0,#eee)
    }
}
.detail-long{
    width: 100%;
    height: .55rem;
    line-height: .6rem;
    @include border(0 0 2px 0,#eee);
    padding-left: .2rem;
    color: #666;
}
.detail-include{
    width: 100%;
    padding: .2rem;
    p{
        font-size: 18px;
        color: #444;
    }
    div{
        margin-top:.2rem ;
        color: #999;
        font-size: 15px;
        @include ellipsis(null,4);
        position: relative;
        span{
            // width: 15px;
            color: #ffa000;
            position: absolute;
            right: 0;
            bottom: 0;
            background: #fff;
            em{
                color: #999;
            }
        }
    }
    img{
        width: 3.4rem;
        margin:.2rem 0;
    }
}
.detail-area{
    width: 100%;
    padding: .2rem;
    p{
        font-size: 18px;
        color: #444;
    }
    img{
        width: 3.4rem;
        margin-top: .3rem;
        @include border(0 0 1px 0,#eee);

    }
}
.detail-room{
    width: 3.4rem;
    margin:0 .2rem;
    overflow-x:scroll;
    .room-name{
        @include border(0 0 2px 0,#eee);
        li{
            margin-right: .23rem;
            height: .3rem;
            display: inline-block;
            font-size: 16px;
            a{
                color: #999;
                padding: 0;
            }
        }
        .active{
            a{
                color: #ff961e;
            }
            border-bottom: 1px solid #ff961e;
        }
    }
    p{
        display: none;
    }
    .show{
        display: block;
        margin: .24rem 0 ;
        width: 3.4rem;
        color: #999;
    }
    .room-in{
        display: none;
    }
    .now{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        li{
            display: flex;
            flex-direction: column;
            margin: 0 .2rem .2rem 0;
            color: #999;
            text-align: center;
            img{
                width: .24rem;
                margin:0 auto .1rem;
            }
        }
    } 
    
}
.detail-server{
    width: 100%;
    height: .7rem;
    padding: .2rem;
    @include border(2px 0 0 0,#eee);
    display: flex;
    justify-content: space-between;

    span{
        font-size: 18px;
        color: #444;
        width: 1rem;
    }
    div{
        flex: 1;
        font-size: 16px;
        color: #999;
        text-align: right;
    }
    
}
.server-list{
    width: 3.4rem;
    margin:0 .2rem;
    li{
        margin-bottom: .2rem;
        img{
            width: .44rem;
        }
        p{
            margin-left: .2rem;
            display: inline-block;
            color: #999;
            span{
                color: #3f3f3f;
            }
        }
    }
}
.detail-entr{
    width: 3.4rem;
    margin:0 .2rem;
    display: flex;
    ul{
        width: 2rem;
        li{
            font-size: 14px;
            color: #999;
            margin-bottom:.02rem ;
            line-height: .2rem;
            &:first-child{
                color: #444;    
                font-size: 16px;
                line-height: .2rem;
                margin-bottom: .08rem;
            }
        }
    }
    img{
        width: 1.1rem;
        height: .8rem;
    }
}

.detail-around{
    img{
        width: 100%;
    }
    .traffic{
        width: 3.24rem;
        margin: .2rem;
        li{
            line-height: .38rem;
        }
    }
}
.detail-people{
    width: 3.4rem;
    margin:0 .2rem;
    display: flex;
    div{
        width: .55rem;
        height: .55rem;
        @include border(1px,#eee);
        border-radius: 50%;
        overflow: hidden;
    }
    img{
        width: 0.55rem;
        height: .74rem;
    }
    em{
        flex: 1;
        line-height: .55rem;
        margin-left: .1rem;
    }
    span{
        width: .8rem;
        height: .28rem;
        display: block;
        color: #ff961e;
        @include border(1px,#ff961e );
        text-align: center;
        line-height: .28rem;
        border-radius: .05rem;
        margin-top: .14rem;
    } 
}
.people-in{
    display: block;
    width: 3.4rem;
    color: #999;
    margin: .2rem;
}
.detail-problem{
    width: 3.4rem;
    margin:0 .2rem;
    li{
        color: #444;
        line-height: .56rem;
        position: relative;
        .show-popup{
            padding: 0;
            height: .56rem;
            width: .4rem;
            color: #ff961e;
            position: absolute;
            right: 0;
            top: 0;
        };
        &:nth-child(2){
            @include border(2px 0 2px 0,#eee);
        
        }
    }
}

.detail-guess{
    overflow-x: scroll;
    
    display: flex;
    margin: 0 .2rem;
    li{
        width: 3.4rem;
        margin-right: .1rem;
        img{
            width: 3.4rem;
            height: 2.5rem;
        }
        .title{
            font-size: 18px;
            color: #444;
            line-height: .5rem;
            span{
                color: #444;
                margin-left: .1rem;
            }
        }
        p{
            font-size: 14px;
            color: #999;
            line-height: .25rem;
            margin-bottom: .1rem;
        }
        .like{
            span{
                width: .43rem;
                height: .17rem;
                @include border(1px,#6db4d6);
                color: #6db4d6;
                margin-right: .05rem;
                font-size: 12px;
                padding:.03rem .06rem;
            }
        }
    
    }
}